.searchBarButton {
  text-align: center;
  background-color: #8a50c4;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 12px 20px;
  border: solid #8a50c4;
  border-radius: 20rem;
  border-width: 1px;
  box-shadow: 0 0 8px 2px rgba(192, 197, 206, 0.1);
  width: fit-content;
  margin-top: 3rem;
}

.searchBarButton:hover {
  cursor: pointer;
  background-color: #7d45b5;
  box-shadow: 0 0 8px 3px rgba(192, 197, 206, 0.1);
}

.playlistButton {
  text-align: center;
  background-color: #1BD760;
  color: #000;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 12px 20px;
  border: solid #1BD760;
  border-radius: 20rem;
  border-width: 1px;
  box-shadow: 0 0 8px 3px rgba(192, 197, 206, 0.2);
  width: fit-content;
  margin-top: 3rem;
}

.playlistButton:hover {
  cursor: pointer;
  background-color: #17ba53;
  box-shadow: 0 0 8px 3px rgba(192, 197, 206, 0.2);
}