.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20em;
}

.searchBarInput {
  width: 30rem;
  height: 3.5em;
  text-align: center;
  font-size: 1rem;
  outline: none;
  background-color: rgba(242, 243, 245, 0.1);
  color: #fff;
  border: solid #000;
  border-width: 1px;
  border-radius: 20rem;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 0 3px 0px rgba(192, 197, 206, 0.5);
}

.searchBarInput::placeholder {
  color: #eeeeeeb1;
}